.road__gallery-item_active::before {
    position: absolute;
    left: 0;
    bottom: 16px;
    content: '';
    width: 100px;
    height: 40px;
    z-index: 1;
    background-image: url('../../../../images/Rectangle\ 5.svg');
    background-repeat: no-repeat;
    background-position: start;

}

.road__gallery-item_active::after {
    position: absolute;
    margin: 12px 16px;
    left: 0;
    bottom: 14px;
    content: '';
    width: 50px;
    height: 16px;
    background-image: url('../../../../images/Vector_line.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .road__gallery-item_active::before {
        width: 70px;
        height: 28px;
        background-size: contain;
        bottom: 14px;
    }

    .road__gallery-item_active::after {
        width: 35px;
        height: 12px;
        background-size: contain;
        margin: 8px 11px;
        bottom: 14px;
    }

}