.header__nav {
	margin: 28px 120px 28px 0px;
}

@media screen and (max-width: 1279px) {
	.header__nav {
		margin: 28px 100px 28px 0px;
	}
}

@media screen and (max-width: 1023px) {
	.header__nav {
		margin: 20px 80px 20px 0px;
	}
}

@media screen and (max-width: 550px) {
	.header__nav {
		display: none;
	}
}