.training__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    max-width: 460px;
}

@media screen and (max-width: 1279px) {
    .training__info {
        max-width: 400px;
    }
}

@media screen and (max-width: 1023px) {
    .training__info {
        max-width: 300px;
    }
}


@media screen and (max-width: 767px) {
    .training__info {
        gap: 40px;

    }
}