.lead__btn {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 16px 10px;
	border: none;
	z-index: 1;
	width: 160px;
	height: 18px;
	background-color: #24B47E;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.28;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.lead__btn::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	border-radius: 4px;
	background-color: #319E75;
	transition: all 0.3s ease;
}

.lead__btn:hover::before {
	width: 100%;
}

@media screen and (max-width: 767px) {
	.lead__btn {
		grid-row: 4/5;
		font-size: 13px;
		line-height: 1.46;
		padding: 14px 62px 13px;
	}
}