.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;

}


@media screen and (max-width: 767px) {
    .subscribe-form {
        gap: 40px;
    }
}