.merks__quote {
	margin: 0;
	padding: 0;
	font-size: 34px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
	.merks__quote {
		font-size: 28px;
		line-height: 36px;
	}
}

@media screen and (max-width: 1023px) {
	.merks__quote {
		font-size: 25px;
		line-height: 32px;
		text-align: start;
	}
}

@media screen and (max-width: 767px) {
	.merks__quote {
		font-size: 23px;
		line-height: 29px;
		max-width: 284px;
	}

}