.footer {
    background-color: #2F2F2F;
    padding: 80px 120px 60px;
}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 70px 60px 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 60px 18px 25px;
    }
}